<div id="index" data-role="page" >
  <div data-role="header">
    <h1>Welcome to Mars</h1>
  </div> 
  <div data-role="content">
    <p>Congrats!  You have landed!</p>
  </div> 
  <div data-role="footer">
    <p>Jack Russell Software Company, LLC</p>
  </div>   
</div>   
